@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');
.post_card_video {
    width: 560px;
    margin-left: 350px;
    margin-bottom: 10px;
    background-color: aquamarine;
}